@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px, 0;
}

/* Navbar */
.navbar {
  background-color: rgb(96, 96, 160);
  color: #fff;
  height: 200px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 4px;
  margin: 0 5px;
  font-size: 20px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.speciality {
  background-color: rgb(164, 164, 194);
  height: 500px;
  display: flex;
  align-items: center;
}

.box1 {
  width: 400px;
  background-color: rgb(210, 210, 238);
  border: 100px blue;

  margin: 20px;
  height: 300px;
  align-items: center;
  color: rgb(54, 14, 66);
  box-shadow: 5px 10px 18px rgb(156, 73, 156);
  border-radius: 10px;
  text-decoration: underline;
}

.image-container {
  width: 100%;
}

.speciality img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.speciality2 {
  background-color: rgb(93, 93, 131);
  height: 1000px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding-top: 80px;
}

.box2 {
  width: 70%;
  background-color: rgb(210, 210, 238);
  margin: 5px;
  height: 400px;
  color: rgb(54, 14, 66);
  box-shadow: 5px 10px 18px rgb(156, 73, 156);
  border-radius: 10px;
  text-decoration: underline;
  align-items: center;
  display: flex;
  padding: 20px;
}

.description {
  width: 80%;
}

.circle {
  background: #6592cf;
  border-radius: 100%;
  height: 300px;
  width: 300px;
  margin: 20px;
}
.circle img {
  width: 300px;
  border-radius: 100%;
  height: 300px;
}

.circle2 {
  background: #6592cf;
  border-radius: 100%;
  height: 300px;
  width: 300px;
  padding: 40px;
  margin: 20px;
  display: flex;
  align-items: center;
  float: right;
}

/* footer*/
.bg-dark {
  background-color: rgb(38, 38, 49);
  color: #fff;
}

.bg-dark a {
  color: #fff;
}

.footer .social a {
  margin: 0 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer .container {
  padding: 100px 0px;
}

.footer nav a {
  font-size: 20px;
}

.footer h1 {
  font-size: 50px;
}

.logo {
  height: 100%;
}
